table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
}

#ping_table {
    float: right;
}

#speed_table {
    float: left;
    clear: both;
}

#download_speeds {
    float: center;
}

table {
    display: inline-block;
}

.warn {
    background-color: yellow;
}

.critical {
    background-color: red;
}

#pings {
    margin: auto;
    display: block;
}

.svg-container {
    margin: auto !important;
}
