table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
}

#ping_table {
    float: right;
}

#speed_table {
    float: left;
}

table {
    display: inline-block;
}

.warn {
    background-color: yellow;
}

.critical {
    background-color: red;
}
